.stat-card {
  padding: 0.625rem;
  border: solid #0b868f 0.0625rem;
  border-radius: 0.625rem;
  color: gray;
  margin: 0;

  p {
    text-align: center;
    margin: 0;
  }

  p:last-child {
    font-weight: bold;
    color: black;
  }
}

@media screen and (max-width: 74.9375rem) {
  .stat-card {
    padding: 0.3125rem 0.5rem;
    p {
      font-size: smaller;
    }
  }
}
