<!--
<div>
  <div>
    <div class="center">
      <div>{{ titlePage }}</div>
    </div>
    <div class="split">
      <div>
        <p>Number of entries</p>
        <p>{{ totalEntries }}</p>
      </div>
      <div>
        <p>Total Number of medals</p>
        <p>{{ totalMedals }}</p>
      </div>
      <div>
        <p>Total Number of athletes</p>
        <p>{{ totalAthletes }}</p>
      </div>
    </div>
  </div>
  <div class="chart-container wrapper-container">
    <div class="container">
      <canvas id="countryChart">{{ lineChart }}</canvas>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
-->


<div class="content">
  <div>
    <app-page-title [title]="titlePage"></app-page-title>
    <div class="split">
      <app-card label="Number of entries" [value]="totalEntries"></app-card>
      <app-card label="Total Number of medals" [value]="totalMedals"></app-card>
      <app-card label="Total Number of athletes" [value]="totalAthletes"></app-card>
    </div>
  </div>

  @if (error) {
    <div class="center">
      <p>{{ error }}</p>
    </div>
  }

  <div class="chart-container wrapper-container">
    <div class="container">
      <app-chart
        [config]="{
          type: 'line',
          labels: years,
          data: medalsPerYear,
          backgroundColor: '#0b868f'
        }">
      </app-chart>
    </div>
  </div>

  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
