
<div class="content">
  <div>
    <app-page-title [title]="titlePage()"></app-page-title>
    <app-stat-list [stats]="stats()"></app-stat-list>
  </div>

  @if (error()) {
    <div class="center">
      <p>{{ error() }}</p>
    </div>
  }

  <div class="chart-container wrapper-container">
    <div class="container">
      <app-chart
        [config]="{
          type: 'line',
          labels: years(),
          data: medalsPerYear(),
          backgroundColor: '#0b868f'
        }">
      </app-chart>
    </div>
  </div>

  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
