/* You can add global styles to this file, and also import other style files */
.heading {
    flex-direction: column;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    margin: 5px;

    div {
        background: #0b868f;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5px;

}


@media screen and (max-width: 37.5rem) {
  .content{
    gap: 0.25rem;
  }
  .split {
    flex-direction: column;
    align-items: center;
  }
}
